/*
Paleta de colores
https://coolors.co/d01137-f6faf0-0195b7-0075a2-151413
#D01137 - cardinal
#F6FAF0 - ivory
#0195B7 - Green Blue
#0075A2 - Celadon BLue
#151413 - Smoky Black
*/


/*fuentes
'Helvetica', sans-serif;
------------------------------------*/


/* Estilos globales
------------------------------------*/

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    color: #151413;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    max-width: 90%;
    margin: 0 auto;
    background: #F6FAF0;
    border: 1px solid #D01137;
    box-shadow: 0 0 10px #000000;
    
}

.contenedor {
    text-align: center;
    border-style: inset;
    border-color: #0195B7;
}


/*Navegacion
-----------------------------------------------*/

header {
    
    grid-area: header;
    background: #F6FAF0;
    padding: 1px;
    margin: 1px;
}

.navegacion ul {
    border: 1px solid #151413;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navegacion li {
    flex: 3;
}

.navegacion a {
    color: #151413;
    font-weight: 300;
    letter-spacing: 2px;
    text-decoration: none;
    background:#0195B7;
    padding: 20px 5px;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.navegacion a:hover {
    background: rgba(208, 17, 55, .8);
}

/*Grids
----------------------------------*/
.grid2por1{    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 1.6fr;
    gap: 0px 0px;
    grid-template-areas:
      "header"
      "main";
  }
.grid2por2{
    display: grid;
    grid-template-columns: 1.4fr 0.6fr;
    grid-template-rows: 0.4fr 1.6fr;
    gap: 0px 0px;
    grid-template-areas:
    "header header"
    "main busqueda";
 } 
 
 .grid3por2{
    display: grid;
    grid-template-columns: 1.3fr 0.7fr;
    grid-template-rows: 0.1fr 0.1fr 1fr 1.9f;
    gap: 0px 0px;
    grid-template-areas:
      "header header"
      "main CEE"
      "main busqueda"
      "comentarios comentarios";
 }


/* Main
---------------------------------*/

main {
    background: #0075A2;
    padding: 10px;
    grid-area: main;
    margin: 0;
    grid-area: main;
}

.comentarios {
    grid-area: comentarios;
    background-color: #0195B7;
}


/*Barra de herminetas
----------------------------------*/

.CEE {
    background: #151413;
    grid-area: CEE;
    color: #F6FAF0;
}

.CEE a:hover {
    background: rgba(208, 17, 55, .8);
}


/* Comentarios
---------------------------------------*/

#tComentario {
    width: 40%;
    height: 100px;
    padding: 10px;
    border-left: 6px solid #151413;
    background-color: #F6FAF0;
    font: 1.4em/1.6em cursive;
    color: #151413;
}

.comentario {
    background-color: #0075A2;
    width: 50%;
    margin: 20px auto;
    border: 1px solid #2E5077;
    box-shadow: 0 0 10px #000000;
    overflow: auto;
}


/* Busqueda y blogs recientes
----------------------------------*/

#busqueda {
    background: #0195B7;
    grid-area: busqueda;
    overflow: auto;    
}

.recientes {
    margin: auto 10%;
    text-align: left;
    list-style: none;
    background: #F6FAF0;
    border: 1px solid #2E5077;
    box-shadow: 0 0 10px #000000;
    overflow: auto;
}

.herramientas {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

input {
    padding:8px;
    border:none;
    border-bottom:1px solid #ccc;
    width:30%
}

