
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/estilos.css"> 
    <link rel="stylesheet" href="fuentes/Roboto/Roboto-Black.ttf">
    <title>Inicio de sesión</title>
    <!-- [if lt  IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js>"
            </script>
        <![endif]-->
</head>

<body class = grid2por1></body>
    <header id="headerPrincipal" role="banner" class ="contenedor">
        <h1>Sistema de gestions de blogs</h1>
        <h2>Slogan va a qui</h2>
    </header>
{%block header%}
{%endblock%}