<!DOCTYPE >
<html lang="es">
<meta charset="UTF-8"/>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        <title>{{titulo}}</title>
        <link rel="stylesheet" href="../static/css/estilos.css"> 
        <!-- [if lt  IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js>"
            </script>
        <![endif]-->
    </head>
    <body class ="grid2por2">
     
        <header id="headerPrincipal" role="banner" class ="contenedor" >
            <!--branding and navigation-->            
                <h1>Sistema de gestions de blogs</h1>
                <h2>Slogan va a qui</h2>             
                <nav role="navigation" class="navegacion">                
                    <ul> 
                         
                        <li ><a href="/panelBlog" title="Ve al tu pandel de blog">Panel de  Blog</a></li>
                        <li ><img class = "logo" src="../static/imagenes/blusquedaLogo.png" alt="imagen del blog" width=auto height="50"></li >
                        <div class="dropdown">
                        <li ><a href="/panelUsuario" title="Ve al tu pandel de usuario">Panel de usuario</a></li>
                        <div class="dropdown-content">
                        <li ><a href="/logout" title="Cierra tu sesion">Cerrar sesion</a></li>
                    </div>
                    </div>
                    </ul>              
                </nav>           
        </header>

        <section id="busqueda" role="search" class ="contenedor">
            <h2>Busqueda y blogs recientes</h2>
                <!--searh-->
                <div class ="barraBusqueda">
                <form action="/resultadoBusqueda"  method="GET">
                    <input type="search" name="Buscar" id="Buscar" placeholder="Escribe una palabra clave ..." />                
                    <input type="submit" name="Buscar" value="Buscar" />
                </form >
            </div>
            <aside >
                <ul class="recientes">
                    {% for blog in ordenadaFecha %}
                    <li><a href="/paginaBlog/{{blog['id_blog']}}" title="Ve al blog reciente 1"><h3>{{blog["titulo"]}}</h3><p>{{blog["contenido"]}}</p></a></li>
                    {% endfor %}
                </ul>
            </aside>
        </section>        
{%block header%}
{%endblock%}
