{% extends 'base2por1.html' %}
{%block header%}
<main id="contenidoBlog" role="main" class="contenedor">
    <h2>Bienvenido</h2>
    <article role="article">
        <form name="formcrearcuenta" action="{{url_for('pages.crearCuenta')}}" method="POST">
            <input type="text" name="name" id="id_name" placeholder="Escribe tu nombre..."><br><br>
            <input type="text" name="mail" id="id_mail" placeholder="Escribe tu correo..."><br><br>
            <input type="password" name="pssw" id="id_pssw" placeholder="Crea una contraseña..."><br><br>
            <input type="submit" value="Crear Cuenta">
        </form>
        <div>
            <section class="content">
                {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
                {% endfor %}
            </section>
        </div>
    </article>
</main>
</body>

</html>
{%endblock%}