{% extends 'base2por2.html' %}
{%block header%}
        <main id = "contenidoBlog" role="main"  class ="contenedor">   
            <!--Main content-->         
            <article role="article">
                <!--aqui va el contenido de la pagina-->  
            <h2 class ="titulo">Crea tu blog</h2>
            <form method="POST"  action="/crearBlog" enctype="multipart/form-data">
            <label for="subirImagen">Sube una imagen</label>            
            <input type="file" name="subirImagen" id="subirImagen" required>
            <br>
            <label for="titulo">Dale un titulo a tu blog: </label>
            <br>
            <input type="text" name="titulo" id="titulo" required>
            <br>
            <textarea  class ="inputBlog"name="cuerpoBlog" id="cuerpoBlog" placeholder="Escribe algo interesante..." required></textarea >
            <br>
            <label for="categorias">Escoge una categoria:</label>            
            <select id="categorias" name="categorias">
            <option value="Noticias">Noticias</option>
            <option value="Front End">Front End</option>
            <option value=">Back End">Back End</option>
            </select>
            <br>
            <input type="submit" name="upload" id="upload" value="Upload">
            </form>
            </article>
        </main>        
      
    </body>
    </html>
{%endblock%}