<!DOCTYPE >
<html lang="es">
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">       
    <title>{{titulo}}</title>
    <!-- [if lt  IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js>"
            </script>
        <![endif]-->
</head>
<body class = grid2por1>
<main id="contenidoBlog" role="main" style="text-align : justify;" >
    <main id = "contenidoBlog" role="main" class ="contenedor">  
        <!--Main content-->                
        <article role="article">
            <h2 class ="tituloBlog">{{titulo}}</h2>
            
            <p style = "white-space: pre-wrap; text-align : justify; letter-spacing: 2px;">{{contenidoBlog['contenido']}}</p>                        
                              
    </main>
</main>
</body>
</html>