{% extends 'base2por2.html' %}
{%block header%}

    <main id="contenidoPanel" role="main" class ="contenedor">
        <!--Main content-->

        <h2>Mis blogs</h2>        
        <form>
            <label for="categoria">Selecciona categoría:</label>
            <select cat="categoria" name="categoria">
                <option value="Noticias">Noticias</option>
                <option value="Front End">Front End</option>
                <option value="Back End">Back End</option>
            </select>
        </form>
        
        <a href="/crearBlog" title="Crea un nuevo Blog" class ="boton">Crear Blog</a>
        <ul type="Circle" class ="misBlogs">
            {% for blog in blogs %}
            <li><a href="paginaBlog/{{blog['id_blog']}}">{{blog['titulo']}}</a></li>
            {% endfor%}
        </ul > 

        

    </main>
</body>
</html>
{%endblock%}