{% extends 'base2por2.html' %}
{%block header%}
        <main id = "contenidoPanel" role="main"  class ="contenedor">   
            <!--Main content-->         
            <article role="article">
                <h2 class ="tituloBlog">Panel de usuario</h2>
                <!--aqui va el contenido de la pagina-->                 
                <form  method = "POST">
                    <label for="usuairos">Escoge un usuario:</label>
                    <select id="usuario" name="usuario">
                        {% for usuario in usuarios %}
                          <option value="{{usuario['id_usuario']}}">{{usuario['nombre']}}</option>
                        {% endfor %}
                     </select>
                        <input type="submit"  value="Eliminar">
                 </form>  
                 <ul class="opcionesUsuario">
                    <li><a href="/recuperarPassword" title="Ve al tu pandel de usuario">Cambiar o recumperar contraseña</a></li>
                    <li><a href="/paginaBlog/1" title="Ve al tu pandel de blog">Saber más</a></li>
                    <li><a href="/paginaBlog/2" title="Ve al tu pandel de blog">Haz que mas personas encuentren tu blog online</a></li>
                </ul>                
            </article>
        </main>        
{%endblock%}