{% extends 'base2por2.html' %}
{%block header%}
<main id="contenidoBlog" role="main" class="contenedor">
    <h2>Recuperar contraseña</h2>
    <article role="article">
        <p>Confirma tu correo electrónico con el que te regitraste para recuperar tu contraseña:</p>
        <form name="formrecpass" action="{{url_for('recuperarPassword')}}" method="POST">
            <input type="text" name="mail" id="id_mail" placeholder="Tú correo..."><br><br>
            <input type="submit" value="Cambiar mi contraseña">
        </form>
        <div>
            <section class="content">
                {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
                {% endfor %}
            </section>
        </div>
    </article>
</main>
{%endblock%}