{% extends 'base2por2.html' %}
{%block header%}
    <main id="contenidoBlog" role="main" class="contenedor" class="contenedor">
        <!--Main content-->
        <article role="article">
            <!--aqui va el contenido de la pagina-->
            <h2>Resultados de búsqueda</h2>
            <!--searh-->
            <section class="content">
                {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
                {% endfor %}
            </section>
            {% for resultado in resultados %}
            <article role="article">
                <div class="grid1x2">
                    <div class="imagen1x2">                         
                            <img class="scaled" src="static/imagenes/{{resultado['imagen']}}" alt="imagen del blog"  width=200px height=200px>
                            
                        </figure>
                    </div>
                    <div class="texto1x2">
                        <h2 class="tituloBlog">{{resultado['titulo']}}</h2>
                        <p>{{resultado['contenido']}}</p>
                        <li><button>LEER MÁS>></button></li>
                    </div>
                </div>
            </article>
            {%endfor%}
    </main>
    </div>
</body>
{%endblock%}